# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
env/
.env

# Spark / Hadoop
.ivy2/
metastore_db/
derby.log
warehouse/
checkpoint/
/tmp/threatlake/

# Docker Volumes (if mapped to local)
data/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Specific
.DS_Store
